* {
    box-sizing: border-box;
}

body {
    background: #144E75;
    background: -moz-linear-gradient(left, #144E75 0%, #207AB7 50%, #144E75 100%);
    background: -webkit-linear-gradient(left, #144E75 0%, #207AB7 50%, #144E75 100%);
    background: linear-gradient(to right, #144E75 0%, #207AB7 50%, #144E75 100%);
}

h1 {
    text-align: center;
}

.column {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.row {
    text-align: center;
}

table {
    height: px;
    background: #33DDFF;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;
}

td, tbody th {
    background: white;
}

thead th, tbody td, #data th {
    border: 1px solid;
}

#data * {
    background: #D9D9D9;
}

tbody {
    padding:0%;
}

.description {
    width: 400px;
}

th:not(.description, .select), input:not(.select) {
    width: 100px;
}

#total-time, #total-cost {
    width: 100px;
}

.buttons {
    text-align: center;
    margin-bottom: 5px;
}

textarea {
    resize: vertical;
    display: flex;
}